@model SearchBoxModel
@using Nop.Web.Models.Catalog;
@using (Html.BeginRouteForm("ProductSearch", FormMethod.Get, new { id = "small-search-box-form" }))
{
    
        
				
		<div class="selectCategoryBox">					
					<select id="resizing_select" class="selectCategory">
						<option>All</option>
						<option>Underwater Electronics</option>
						<option>Scuba</option>
						<option>Divewear</option>
						<option>Spearfishing</option>
						<option>FreeDiving</option>
						<option>Bags</option>
						<option>Accessories</option>
						<option>Other Gears</option>
					</select>
					<select id="width_tmp_select">
					  <option id="width_tmp_option"></option>
					</select>					
				</div>		
    <div class="selectCategoryInput">
        <input type="text" class="searchBox" id="small-searchterms" autocomplete="off" name="q" placeholder="@T("Search.SearchBox.Tooltip")" />
        </div>
    
    @Html.Widget("searchbox_before_search_button")
    <button class="searchBtn"><i class="material-icons">search</i></button>
    @*<input type="submit" class="searchBtn" value="@T("Search.Button")" />*@
    if (Model.SearchTermMinimumLength > 0)
    {
        <script type="text/javascript">
            $("#small-search-box-form").submit(function(event) {
                if ($("#small-searchterms").val() == "") {
                    alert('@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Search.EnterSearchTerms").Text))');
                    $("#small-searchterms").focus();
                    event.preventDefault();
                }
            });
        </script>
    }
    if (Model.AutoCompleteEnabled)
    {
        <text>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('#small-searchterms').autocomplete({
                            delay: 500,
                            minLength: @(Model.SearchTermMinimumLength.ToString()),
                            source: '@(Url.RouteUrl("ProductSearchAutoComplete"))',
                            appendTo: '.search-box',
                            select: function(event, ui) {
                                $("#small-searchterms").val(ui.item.label);
                                setLocation(ui.item.producturl);
                                return false;
                            }
                        })
                        .data("ui-autocomplete")._renderItem = function(ul, item) {
                            var t = item.label;
                            //html encode
                            t = htmlEncode(t);
                            return $("<li></li>")
                                .data("item.autocomplete", item)
                                .append("<a>@(Model.ShowProductImagesInSearchAutoComplete ? Html.Raw("<img src='\" + item.productpictureurl + \"'>") : null)<span>" + t + "</span></a>")
                                .appendTo(ul);
                        };
                });
            </script>
        </text>
    }
    @Html.Widget("searchbox")
}