@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("OldInternetExplorerWarning")

<div class="master-wrapper-page">
    @Html.Action("AdminHeaderLinks", "Common")
    @Html.Partial("Header")
    <script type="text/javascript">
        AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
    </script>
    <div class="sp-fullwidth-header-menu">
        <section class="menuBox">

            <!-- All the category Drop downs  -->
            <div class="dropdownSection">

                @Html.Action("TopMenu", "Catalog")
            </div>
        </section>
    </div>
    <style>
        

        

       
    </style>
    <!--<h1>jQuery jZoom Plugin Demo</h1>
    <div class="jzoom">
        <img src="http://localhost:15536/content/images/thumbs/0000072_t10-sc-pvd-master_550.jpeg" height="350" width="350">
    </div>-->
    
    @{
        var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
        var actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
        var isHomePage = false;
        if (controllerName == "Home" && actionName == "Index")
        {
            isHomePage = true;
        }
    }
    @if (isHomePage) { 
        @Html.Widget("home_page_top") @*To make slider of of the main content*@
    }
    <div class="master-wrapper-content">
        <section class="mainContent">
            <div class="rightMainBox">
                @Html.Widget("content_before")

                @if (IsSectionDefined("Breadcrumb"))
                {
                    @RenderSection("Breadcrumb")
                }
                <div class="master-column-wrapper">
                    @RenderBody()
                </div>
                @Html.Widget("content_after")
            </div>
    </div>
    </section>
    @Html.Action("Footer", "Common")

</div>
@Html.Action("EuCookieLaw", "Common")
@Html.Widget("body_end_html_tag_before")